/webpack.generated.js
/node_modules
/target
/package.json
/package-lock.json
/webpack.config.js
/.settings
/.classpath
/.project
/node
tsconfig.json
types.d.ts
vite.generated.ts
vite.config.ts
/frontend/generated
/frontend/index.html